# Java
*.class

# Eclipse IDE
.settings/
bin/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml

# Gradle
.gradle
**/build/
!src/**/build/
.gradletasknamecache
!gradle-wrapper.jar
gradle-app.setting

# Mac OSX
.DS_Store

.kotlin
.worktrees
documentation/github-issues-fix-todo-2026-05-31.md
documentation/github-issues-research-2026-05-31.md
